p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8;
    color: red;
}
#p2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10;
    color: rgb(39, 200, 36); 
}