/*Definir un estilo para todo un sitio el cual debe establecer:
- Color de encabezado h1 azul
- Color de encabezado h2 verde
- Tipo de letra de los párrafos p Arial Black*/
h1{
    color: blue;
}
h2{
    color: green;
}
p{
    font-family: 'Arial Black';
}